{% extends "paginasweb/index.html" %}

{% load static %}

{% block conteudo %} <h3>Lista de alunos</h3>

<a href="{% url "cadastrar-aluno" %}" class="btn btn-green">Cadastrar novo aluno</a>

<table> <tr> <th>Nome</th> <th>Matrícula</th> <th>CPF</th> <th>Email</th> <th>Telefone</th> <th>Cadastrado em</th> <th>Gerenciar</th> </tr>

{% for aluno in object_list %}
<tr>
    <td>{{aluno.nome}}</td>
    <td>{{aluno.matricula}}</td>
    <td>{{aluno.cpf}}</td>
    <td>{{aluno.email}}</td>
    <td>{{aluno.telefone}}</td>
    <td>{{aluno.cadastrado_em}}</td>
    <td>
        <a href="{% url "editar-aluno" aluno.pk %}">Editar</a>
        <a href="{% url "excluir-aluno" aluno.pk %}">Excluir</a>
    </td>
</tr>   
{% endfor %}
</table>

{% endblock %}