{% extends "paginasweb/index.html" %}

{% load static %}

{% block conteudo %} <h3>Lista de histórico</h3>

<table> <tr> <th>Solicitação</th> <th>Solicitado por</th> <th>Status</th> <th>Cadastrado em</th> <th>Gerenciar</th> </tr>

{% for historico in object_list %}
<tr>
    <td>{{historico.solicitacao.tipo_solicitação.descricao}}</td>
    <td>{{historico.solicitacao.solicitado_por.nome}}</td>
    <td>{{historico.status.nome}}</td>
    <td>{{historico.cadastrado_em}}</td>
    <td>
        <a href="{% url "editar-historico" historico.pk %}">Editar</a>
        <a href="{% url "excluir-historico" historico.pk %}">Excluir</a>
    </td>
</tr>   
{% endfor %}
</table>

{% endblock %}