{% extends "paginasweb/index.html" %}

{% load static %}

{% block conteudo %} <h3>Lista de servidores</h3>

<a href="{% url "cadastrar-servidor" %}" class="btn btn-green">Cadastrar novo servidor</a>

<table> <tr> <th>Nome</th> <th>SIAPE</th> <th>Email</th> <th>Cadastrado em</th> <th>Gerenciar</th> </tr>

{% for servidor in object_list %}
<tr>
    <td>{{servidor.nome}}</td>
    <td>{{servidor.siape}}</td>
    <td>{{servidor.email}}</td>
    <td>{{servidor.cadastrado_em}}</td>
    <td>
        <a href="{% url "editar-servidor" servidor.pk %}">Editar</a>
        <a href="{% url "excluir-servidor" servidor.pk %}">Excluir</a>
    </td>
</tr>   
{% endfor %}
</table>

{% endblock %}